# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Cursor
.cursor/ 

# Sistemas operativos
.DS_Store
Thumbs.db

# Node y frontend
node_modules/
*.lock

# Entornos virtuales adicionales
.venv/

# Archivos de Cursor
.cursor/

# Archivos de producción (si generas html, css, js en build)
build/
dist/
out/

# Configuración
*.config.js